[2019-04-30 09:41] yifatdzigan opened #1 "ESMValTool climate data pre-processor"
This is a tracking issue for the final integration of *ESMValTool climate data pre-processor metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/python_example)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version

[2019-04-30 09:43] yifatdzigan opened #2 "Climate Variability Diagnostics"
This is a tracking issue for the final integration of *Climate Variability Diagnostics metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/cvdp)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/es

[2019-04-30 10:53] yifatdzigan opened #3 "perfmetrics"
This is a tracking issue for the final integration of *perfmetrics metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [x] Recipe created in ESMValTool branch
- [x] Pull request created
- [x] Runs on Jasmin with CP4CDS and DLR

[2019-04-30 11:01] yifatdzigan opened #4 "SMPI - Single Model Performance Index"
This is a tracking issue for the final integration of *smpi metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [x] Recipe created in ESMValTool branch
- [x] Pull request created
- [ ] Runs on Jasmin with CP4CDS and DLR OBS
-

[2019-04-30 11:02] yifatdzigan commented on #4
@mattiarighi
Could you please provide a link to the recipe yml file?

[2019-04-30 11:10] mattiarighi commented on #4
See [here](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/recipes/recipe_smpi.yml).

[2019-04-30 12:37] yifatdzigan opened #5 "Blocking metrics and indices"
This is a tracking issue for the final integration of *Blocking metrics and indices metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/blocking)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/e

[2019-04-30 12:43] yifatdzigan opened #6 "ZMNAM - Stratosphere troposphere coupling and annular modes indices"
This is a tracking issue for the final integration of *Stratosphere troposphere coupling metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [x] Recipe created in ESMValTool branch
- [x] Pull request created
- [x] Runs on Jasm

[2019-04-30 12:45] yifatdzigan opened #7 "Assessment of climate variability and teleconnections"
This is a tracking issue for the final integration of *Assessment of climate variability and teleconnections metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [x] Recipe created in ESMValTool branch
- [x] Pull request create

[2019-04-30 12:47] yifatdzigan opened #8 "Hydroclimatic intensity (HyInt) and extremes"
This is a tracking issue for the final integration of *Hydroclimatic intensity (HyInt) and extremes metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [x] Recipe created in ESMValTool branch
- [x] Pull request created
- [ ] R

[2019-04-30 12:51] yifatdzigan opened #9 "Extreme Events"
This is a tracking issue for the final integration of *Extreme Events metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.
**Links:**
----------

Portal page does not exist yet.
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_ExtremeEvents/esmvaltool/recipes/recipe_ExtremeEvents.yml

[2019-04-30 12:54] yifatdzigan opened #10 "Precipitation quantile bias"
This is a tracking issue for the final integration of *Precipitation quantile bias metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/quantilebias)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_developmen

[2019-04-30 12:57] yifatdzigan opened #11 "Generic multi-model products"
This is a tracking issue for the final integration of *Generic multi-model products metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/anomaly_agreement)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_deve

[2019-04-30 12:58] yifatdzigan commented on #11
@yifatdzigan In the portal: we should update the back-end metric name from anomaly agreement to multi-model products

[2019-04-30 13:02] yifatdzigan opened #12 "Sub-ensemble selection"
This is a tracking issue for the final integration of *Sub-ensemble selection metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/ensclus)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvalto

[2019-04-30 13:11] yifatdzigan opened #13 "combined indices - Tools to compute single and multi-model indices based on area averages"
This is a tracking issue for the final integration of *Tools to compute single and multi-model indices based on area averages metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/combine_indices)
[Recipe](https://github.com/E

[2019-04-30 13:13] yifatdzigan opened #14 "Indices of annular modes"
This is a tracking issue for the final integration of *Indices of annular modes metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [x] Recipe created in ESMValTool branch
- [x] Pull request created
- [x] Runs on Jasmin with C

[2019-04-30 13:16] yifatdzigan opened #15 "Teleconnection"
This is a tracking issue for the final integration of *Teleconnection metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/teleconnections)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvalto

[2019-04-30 13:17] jhardenberg commented on #6
Thank you for opening this issue:
Problems I can see at the moment with the portal (in portal-dev) for this diagnostic:
1) only one model (dataset) can be selected
2) only the "amip" exp can be selected. Should this not allow also historical, rcp45 etc?
3) The rip selection should ideally be guided, i.e. non all rips are available for all models, how do you solve that?
4) the left column says "mod

[2019-04-30 13:18] jhardenberg commented on #14
This is a duplicate of https://github.com/c3s-magic/c3s-magic-metric-status/issues/6
As discussed with Niels, we could merge these two

[2019-04-30 13:19] yifatdzigan opened #16 "Weather regimes"
This is a tracking issue for the final integration of *Weather regimes metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [x] Recipe created in ESMValTool branch
- [x] Pull request created
- [x] Runs on Jasmin with CP4CDS and

[2019-04-30 13:21] yifatdzigan opened #17 "HyInt and ETCCDI Trend and significance testing"
This is a tracking issue for the final integration of *HyInt and ETCCDI Trend and significance testing metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/hyint_timeseries)
[Recipe](https://github.com/ESMValGroup/ESMValTool/

[2019-04-30 13:21] jhardenberg commented on #12
There is a need to select also the experiment for this one (rcp45, rcp85 etc)
There should be a method for the user to select the models of interest:
Ideally a list of all available models with checkboxes would be a possibility.

[2019-04-30 13:22] yifatdzigan opened #18 "Correlations"
This is a tracking issue for the final integration of *Correlations metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [ ] Recipe created in ESMValTool branch
- [ ] Pull request created
- [ ] Runs on Jasmin with CP4CDS and DL

[2019-04-30 13:24] yifatdzigan opened #19 "Surge height estimator"
This is a tracking issue for the final integration of *Surge height estimator metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [x] Recipe created in ESMValTool branch
- [x] Pull request created
- [ ] Runs on Jasmin with CP4

[2019-04-30 13:27] yifatdzigan opened #20 "Drought indicator"
This is a tracking issue for the final integration of *Drought indicator metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/drought_indicator)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esm

[2019-04-30 13:28] yifatdzigan opened #21 "Consecutive Dry Days"
This is a tracking issue for the final integration of *Consecutive Dry Days
 metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/consecdrydays)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esm

[2019-04-30 13:30] yifatdzigan opened #22 "Time series of data relevant for the water sector"
This is a tracking issue for the final integration of *Time series of data relevant for the water sector metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/shapefile_selection)
[Recipe](https://github.com/ESMValGroup/ESMVal

[2019-04-30 13:30] yifatdzigan commented on #22
@PeterBergSMHI Could you please provide a link to the yml file with the recipe?

[2019-04-30 13:32] yifatdzigan opened #23 "RainFARM stochastic precipitation downscaling"
This is a tracking issue for the final integration of *RainFARM stochastic precipitation downscaling metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/rainfarm)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/versi

[2019-04-30 13:34] PeterBergSMHI commented on #22
https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/recipes/recipe_shapeselect.yml

Peter

________________________________
From: yifatdzigan [notifications@github.com]
Sent: 30 April 2019 15:30
To: c3s-magic/c3s-magic-metric-status
Cc: Berg Peter; Mention
Subject: Re: [c3s-magic/c3s-magic-metric-status] Time series of data relevant for the water sector (#22)

@PeterBerg

[2019-04-30 13:34] yifatdzigan opened #24 "Heatwaves and Coldwaves"
This is a tracking issue for the final integration of *Heatwaves and Coldwaves metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/extreme_spells)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/

[2019-04-30 13:35] yifatdzigan commented on #24
@yifatdzigan we should correct the name of this metric in the portal

[2019-04-30 13:38] yifatdzigan opened #25 "Diurnal Temperature Variation (DTR) Indicator"
This is a tracking issue for the final integration of *Diurnal Temperature Variation (DTR) Indicator

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/dtr)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/recipes/reci

[2019-04-30 13:40] yifatdzigan opened #26 "Capacity Factor"
This is a tracking issue for the final integration of *Capacity Factor metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/capacity_factor)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvalt

[2019-04-30 13:41] yifatdzigan opened #27 "Combined Climate Extreme Index"
This is a tracking issue for the final integration of *Combined Climate Extreme Index metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Links:**
----------

[Portal](https://portal.c3s-magic.eu/#/diagnostics/risk_index)
[Recipe](https://github.com/ESMValGroup/ESMValTool/blob/version2_developme

[2019-04-30 13:47] yifatdzigan opened #28 "Toy model"
This is a tracking issue for the final integration of *Toy model metric* into the MAGIC framework.

This is also a place for discussion and updates on the current status, problems and questions related to this metric.

**Tasks:**
----------

**ESMValTool**
- [x] Metric working standalone
- [x] Recipe created in ESMValTool branch
- [x] Pull request created
- [x] Runs on Jasmin with CP4CDS and DLR O

[2019-05-01 07:33] yifatdzigan commented on #20
@PeterBergSMHI @bouweandela Recipe recipe_spei.yml works on DAS5 and tested with 16 models by @PeterBergSMHI.
Would you agree that the ESMValTool development is done?

[2019-05-01 07:35] yifatdzigan commented on #21
@PeterBergSMHI @bouweandela
@rvanharen tested recipe_consecdrydays on DAS5 and it failed:

- recipe_consecdrydays.yml:
-> adding the following code block after variales - pr, the recipe completes, not sure if this is the correct fix
[code]

[2019-05-01 07:37] yifatdzigan commented on #22
@PeterBergSMHI @bouweandela
@rvanharen tested recipe_consecdrydays on DAS5 and it failed:

- recipe_consecdrydays.yml:
-> adding the following code block after variales - pr, the recipe completes, not sure if this is the correct fix
[code]

[2019-05-01 07:46] yifatdzigan commented on #14
Will be merged with #6

[2019-05-01 08:31] rvanharen commented on #21
Debug output of the recipe in version2_development branch:
[main_log_debug.txt](https://github.com/c3s-magic/c3s-magic-metric-status/files/3134049/main_log_debug.txt)

[2019-05-01 10:01] yifatdzigan commented on #22
@bpmweel Recipe works on DAS5. Please integrate into WPS

[2019-05-01 10:02] yifatdzigan commented on #20
@bpmweel Recipe works on DAS5. Please integrate into WPS

[2019-05-01 10:12] yifatdzigan commented on #21
@bpmweel Recipe works on DAS5. Please integrate into WPS

[2019-05-01 11:41] yifatdzigan commented on #2
@bpmweel Recipe works. Ready for WPS integration

[2019-05-01 11:41] yifatdzigan commented on #3
@bpmweel Recipe works. Ready for WPS integration. **Note: new metric in WPS**

[2019-05-01 11:42] yifatdzigan commented on #5
@bpmweel Recipe works. Ready for WPS integration

[2019-05-01 12:10] yifatdzigan commented on #28
@bpmweel Recipe works. Ready for WPS integration

[2019-05-01 12:10] yifatdzigan commented on #7
@bpmweel Recipe works. Ready for WPS integration

[2019-05-01 12:49] yifatdzigan commented on #26
@bpmweel Recipe works on DAS5. Please integrate into WPS

[2019-05-01 12:51] yifatdzigan commented on #11
@bpmweel Recipe works on DAS5. Please integrate into WPS

[2019-05-01 12:57] yifatdzigan commented on #25
@bpmweel Recipe works on DAS5. Please integrate into WPS

[2019-05-01 13:03] yifatdzigan commented on #24
@bpmweel Recipe works on DAS5. Please integrate into WPS

[2019-05-02 07:26] yifatdzigan commented on #15
@bpmweel Recipe works. Ready for WPS integration

[2019-05-02 07:26] yifatdzigan commented on #16
@bpmweel Recipe works. Ready for WPS integration

[2019-05-02 07:56] nielsdrost commented on #1
This metric is based on the Python example. If I recall correctly the only difference is the reference dataset being ERA-Interim instead of some model output.

[2019-05-02 08:47] bouweandela commented on #21
This bug is fixed now, there is no need for the workaround.

[2019-05-02 08:57] yifatdzigan commented on #10
@bpmweel Metric tested on DAS 5. Ready for WPS integration. **Note: a new metric in WPS**

[2019-05-02 10:43] yifatdzigan commented on #12
@bpmweel tested on DAS5 and ready for WPS integration

[2019-05-02 10:50] yifatdzigan commented on #4
@bpmweel metric tested on DAS5 and ready for integration on WPS (new metric)

[2019-05-02 13:34] nielsdrost commented on #1
We've decided to use the python example as-is https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/recipes/examples/recipe_python.yml

Only differences from the standard recipe are in the datasets, and these are options in the WPS anyway (so the value in the standard recipe does not matter)

[2019-05-02 13:43] yifatdzigan commented on #1
@bpmweel tested on DAS5. Ready for WPS integration.

[2019-05-02 13:45] yifatdzigan commented on #28
@yifatdzigan we should create a portal webpage

[2019-05-03 09:31] nielsdrost commented on #6
Thanks for the feedback!

Yes, all options should be available in the WPS (and thus appear in the portal). We're working on that now. Unfortunately dependencies between options (such as limiting possible year range when selecting an experiment) are not something WPS supports. We may be able to add some support in the portal, but it won't help for using the WPS from the CDS, since they can rely on

[2019-05-03 09:35] nielsdrost commented on #8
Work being done on integrating this metric into ESMValTool here: https://github.com/ESMValGroup/ESMValTool/pull/754

[2019-05-03 09:48] nielsdrost commented on #14
@jhardenberg , yes we will have a single ESMValTool metric and WPS process. Would it still make sense to have two portal pages, or would you rather also merge these?

[2019-05-03 09:58] nielsdrost commented on #27
Portal page should be renamed

[2019-05-03 14:28] bpmweel commented on #5
@jhardenberg Could you please take a look at the blocking metric in the portal-dev wps page to check whether you have any feedback. If not we will consider it completed for the wps.

[2019-05-03 15:41] nielsdrost commented on #13
Improvements done by @nperezzanon at the moment

[2019-05-04 20:15] nielsdrost commented on #28
Portal page created by @nperezzanon  in this pull request to the frontend: https://github.com/c3s-magic/c3s-magic-frontend/pull/211

[2019-05-05 12:47] jhardenberg commented on #5
Cool @bpmweel , thanks for the significant improvements!
Well, I see two residual issues:
1) There are now many models and experimenst to choose from. In selecting "ensemble" (the rip number) I am allowed to choose among a huge list of possible rip numbers. The problem is that not all combinations of model/experiment/rip exist in the CDS (or exist at all).
So for example selecting model=GFDL_ESM2G

[2019-05-05 12:54] jhardenberg commented on #12
I repeat also here something I may have commented somewhere else (and this is true for alla diagnostics I believe):
In selecting the "experiment", when the future scenarios are selected (rcp26, rcp45, rcp85, rcp60), and the start date is <= 2005, it should still be possible to perform the computation (at the moment it fails) simply by creating a recipe where "exp" is a list, such as [historical, r

[2019-05-05 12:58] jhardenberg commented on #14
In my opinion we could actually merge also the portal pages. We can then say that this product fulfilled both requests from the project (as it does) ....

[2019-05-05 13:00] jhardenberg commented on #16
I tested it on the portal and it seems to be failing (something with the ERA-Interim reference dataset)

[2019-05-05 13:10] jhardenberg commented on #9
We made some progress in the metric, which is now working standalone (no provenance yet): https://github.com/ESMValGroup/ESMValTool/issues/270 . A PR should follow soon.

[2019-05-06 07:38] bpmweel commented on #5
@jhardenberg

1. This is a known issue and limitation of WPS that we are not able to solve generally. Solving it in the portal is likely more effort than we can afford in the scope of the project.
2. I think it would make sense to add at least one more reference dataset, do you have any preference? We are limited in harddisk space on our WPS machine, so we cannot add all dkrz data.

[2019-05-06 11:06] yifatdzigan commented on #10
@jhardenberg In the readtheodcs the variable used for this recipe is pr daily mean, but the recipe mentiones months. Which one of the two is the correct variable?

[2019-05-06 11:17] earnone commented on #10
@yifatdzigan it is monthly data, typo in readthedocs. Can we change it without a pull request?

[2019-05-06 11:22] yifatdzigan commented on #11
@nperezzanon The recipe is for monthly tas, while the readthedocs mentions daily. Which one is correct?

[2019-05-06 11:30] yifatdzigan commented on #12
@jhardenberg could you please have a look in the readthedocs: https://github.com/ESMValGroup/ESMValTool/blob/version2_development/doc/sphinx/source/recipes/recipe_ensclus.rst and check if the variable section needs some refinement?

[2019-05-06 11:36] yifatdzigan commented on #13
@nperezzanon The recipe is for daily variables, while the readthedocs mentions monthly. Which one is correct?

[2019-05-06 11:54] yifatdzigan commented on #22
@PeterBergSMHI Could you have a look at the readthedocs: https://github.com/ESMValGroup/ESMValTool/blob/version2_development/doc/sphinx/source/recipes/recipe_shapeselect.rst and see if the variables sections needs refinements?

[2019-05-06 12:32] yifatdzigan commented on #10
@earnone I changed and and made a pull request. Thanks :)

[2019-05-06 12:49] earnone commented on #10
@yifatdzigan we tested this on 25 cmip5 models or so. Should we be more specific and run it on all available datasets?

[2019-05-06 15:39] nperezzanon commented on #11
Hi @yifatdzigan,

I've just checked again on Jasmin and this recipe works with monthly data. It doesn't work with daily data because of differences between calendars in different models.

Sorry for the mismatched.

Núria

[2019-05-07 07:32] yifatdzigan commented on #11
I submitted a pull request to update the readthedocs

[2019-05-07 07:38] yifatdzigan commented on #10
@earnone I will discuss this with Bouwe/Niels and let you know.

[2019-05-07 08:29] JaroCamphuijsen commented on #23
@bouweandela Running this metric on DAS5 (with `/var/scratch2/bandela/c3s-cmip5/output1` as my CMIP5 rootpath in the config-user.yml file) gives a permission error:

`
PermissionError: [Errno 13] Permission denied: b'/var/scratch2/bandela/c3s-cmip5/output1/ICHEC/EC-EARTH/historical/day/atmos/day/r1i1p1/pr/latest/pr_day_EC-EARTH_historical_r1i1p1_19900101-19991231.nc'
`

[2019-05-07 08:29] yifatdzigan commented on #7
@nperezzanon Are you still working on this metric? Did you test it on the CP4CDS datasets?

[2019-05-07 10:03] jhardenberg commented on #9
There is now a PR: https://github.com/ESMValGroup/ESMValTool/pull/1052
The diagnostic seems to work correctly, passes all tests, provenance added.

[2019-05-08 08:38] nperezzanon commented on #7
Hi,
I am not working now in this recipe. I checked the recipe_modes_of_varibaility on the CP4CDS.

[2019-05-08 11:49] bpmweel commented on #28
First implementation on wps is done.

@nperezzanon Could you have a look at https://portal-dev.c3s-magic.eu/#/calculate/copernicus-wps/toymodel whether you have any feedback. If not we will consider it completed for the wps.

[2019-05-08 11:58] bpmweel commented on #16
@jhardenberg Could you please try again, for it works now. Do you have any other comments besides the reference model and model choice list as mentioned in the other issues?

[2019-05-08 11:58] bpmweel commented on #15
@jhardenberg Could you please try again, for it works now. Do you have any other comments besides the reference model and model choice list as mentioned in the other issues?

[2019-05-08 12:08] bpmweel commented on #12
@jhardenberg The variable selection mentions that the user can choose. Not every model has every variable I understand. Could we come up with a relatively short list of interesting variables that we can let the user choose from?

[2019-05-08 12:09] bpmweel commented on #21
@PeterBergSMHI Could you please take a look at the wps page (https://portal-dev.c3s-magic.eu/#/calculate/copernicus-wps/consecdrydays) to check whether you have any feedback. If not we will consider it completed for the wps.

[2019-05-09 08:48] yifatdzigan commented on #10
@earnone I discussed this with Bouwe and he mentioned the requirement is that the metrics work with the entire cp4cds dataset. Testing with 25 models will give reasonable confidence that it works with the entire dataset, but no 100% guarantee. In my opnion (Yifat) this is enough.

[2019-05-09 12:26] JaroCamphuijsen commented on #10
@earnone @jhardenberg This metric has now been integrated into WPS and is available on the development portal, can you check whether we have all of the options and settings right?

[2019-05-09 13:21] yifatdzigan commented on #14
Merging this metric with #6

[2019-05-09 13:21] #14 closed

[2019-05-09 13:22] yifatdzigan commented on #6
@yifatdzigan I am working on the portal front page to combine ZMNAM into 1 portal page

[2019-05-09 13:30] PeterBergSMHI commented on #21
As long as one sticks to ACCES1-0 things seem to work fine. I tried a few, but could not find another model that worked. But I think that might be due to the availability of daily pr data. If you know another model that should work, it would be good if you can test that.

The only issue I find when running ACCES1-0 data are the tabs with a map where one can chose different layers and projections,

[2019-05-09 21:46] jhardenberg commented on #15
I tried not changing the defaults and unfortunately it still fails.

[2019-05-09 22:30] jhardenberg commented on #10
Thanks. It is great that there is an interactive plot.

- It would be nice to have more options for the reference dataset, currently only GPCP-SG can be selected. I would suggest to include also ERA-Interim (tier3) and NCEP (tier2).
- The label for the start year is "Start year (1850)" and the label for the end year is "End year (till 2005)".
For the start year it should maybe say "Start year (fro

[2019-05-09 22:33] jhardenberg commented on #6
Still failing ....

[2019-05-10 05:30] earnone commented on #10
This was actually thought to calculate biases vs observations so the period should indeed be restricted to that of observations.

This implies including concatenation historical+rcp.

In principle of course one may calculate a bias vs a reference model for projections.

[2019-05-10 12:15] earnone commented on #8
This is now merged in `version2_development`. It includes documentation, provenance also for figures, was tested on 25 models, runs on Jasmin. See [https://github.com/ESMValGroup/ESMValTool/pull/754](https://github.com/ESMValGroup/ESMValTool/pull/754)

[2019-05-10 12:24] earnone commented on #17
The trend calculation and significance testing functionalities were included in the hyint main diagnostic (see #8) and as agreed there is no need anymore to keep these separate: The split of this part was only due to deliverables falling in two different workpackages (WP4 and WP6) of the magic project. The main diagnostic was merged into `version2_development`, see [https://github.com/c3s-magic/c3

[2019-05-10 12:27] earnone commented on #8
Hyint and Hyint_trends+significance_testing should now be unified as one tool  also in the portal. How do we proceed?

[2019-05-13 12:16] nielsdrost commented on #22
This metric could perhaps use a bit more shapefiles.

[2019-05-13 12:26] nielsdrost commented on #22
@PeterBergSMHI we currently use the 5 "example" shapes for the process. Uploading custom shapes is probably not something we can support right now, but we could add a few more "nice" shapes. Do you happen to have some relevant shapes for this metric?

[2019-05-13 12:28] PeterBergSMHI commented on #22
It could, but the main idea and usefulness is for water managers to provide their own shapefiles. In the portal we are only presenting the tool with some examples. I'm afraid we cannot provide more examples now as we are quite busy with other projects, and larger data bases such as hydrosheds do not fulfil the licensing requirements.
I think we should be content with what we have unless there is a

[2019-05-13 12:34] nielsdrost commented on #22
@PeterBergSMHI thanks. It would be ease to expose custom shape upload via the wps, so perhaps we will add a note somewhere what this would be a possible extention.

[2019-05-14 11:43] nielsdrost commented on #14
see https://github.com/c3s-magic/c3s-magic-frontend/pull/216

[2019-05-14 13:24] yifatdzigan commented on #13
@nperezzanon I merged the portal page pull request. FYI, the ACI component image doesn't look good (resolution is too small).

[2019-05-14 15:21] nielsdrost commented on #1
WPS done, including settings.

Output files do not all get rendered correctly, made an issue in the frontend: https://github.com/c3s-magic/c3s-magic-frontend/issues/220

[2019-05-15 10:56] yifatdzigan commented on #8
I am currently working on the portal page.

[2019-05-15 11:34] yifatdzigan commented on #8
@earnone I have created a new portal page to represent the merged hyint metrics and the new settings you use. I also updated the description according to https://esmvaltool.readthedocs.io/en/version2_development/recipes/recipe_hyint.html.
In the readthedocs you mention a third reference: Alexander, 2016, without any further information. Is this the paper: https://doi.org/10.1016/j.wace.2015.10.007

[2019-05-16 13:29] earnone commented on #5
The current limitation of models and especially ensemble member is much better. However, the blocking metrics calculation fails with default settings given in the portal, while they seem reasonable and should work.

[2019-05-16 13:39] earnone commented on #12
The current approach of avoiding model selection for the user looks good to me for the demo. The page quotes "ACCESS1-0, ACCESS1-3, CanESM2, CCSM4, CESM1-BGC" whereas some 20 models are instead loaded by the recipe as shown in the log.

The calculation with default settings is however failing. I guess something is wrong when looking for the model files.

@bpmweel Regarding variable, maybe for the

[2019-05-16 13:44] earnone commented on #6
Failing because it does not find the model data. Maybe default end year could be 2005 to avoid concatenation if that does not work.

[2019-05-16 13:48] earnone commented on #16
@bpmweel I am afraid this is not working with default settings or other models, it does not find the model data.

[2019-05-16 13:51] earnone commented on #15
I am afraid this is also failing because it cannot find the model data.

[2019-05-16 13:56] earnone commented on #10
This is also failing because it cannot reach model data.

[2019-05-16 14:01] earnone commented on #10
In the diagnostic webpage on the portal the numbers of the color scale in the interactive plot should be refined, as they currently read (0.0, 1.0, 1.0, 2.0, 2.0), instead of (0.0, 0.5, 1.0, 1.5, 2.0).

The link to the article is wrong. This is the correct one: https://agupubs.onlinelibrary.wiley.com/doi/full/10.1002/2013JD021152

[2019-05-16 14:11] earnone commented on #8
@yifatdzigan thanks for the merged page. Where can I find it and comment on it if needed it? Would you please remove the Alexander 2016 reference. References to ETCCDI indices can be found through the climdex website as included in the description. I will update the readthedocs.

[2019-05-19 11:56] jhardenberg commented on #12
The new model selection (specifying experiment and rip separately for each model and with the possibility to add several datasets) is exactly what we need, thank you!
In testing this and other recipes I noticed that currently it is not possible to change the starting and end years.

[2019-05-19 12:57] jhardenberg commented on #16
- The default model suggested is ACCESS1-0 r2i1p1. Unfortunately r2i1p1 of ACCESS1-0 does not have the geopotential zg variable needed for this diagnostic. ACCESS1-0 r1i1p1 instead does have the right variable. Is there a way to exclude r2i1p1 for ACCESS1-0 from the selection?
The same problem applies to teleconnections https://github.com/c3s-magic/c3s-magic-metric-status/issues/15 and blocking  h

[2019-05-19 14:04] jhardenberg commented on #12
Using the multiple model selection (I chose 4 datasets) the recipe which is created has still 30+ datasets in it, not only those which were selected. Subsequently the recipe fails because it does not find some of the data ...

[2019-05-19 16:15] jhardenberg commented on #9
We are missing a diagnostic description page for this metric. All the needed info text and example figures are actually available in the sphinx docs of the diagnostic. How can we proceed? What else is needed ?

[2019-05-20 07:24] jhardenberg commented on #23
Problems with the "calculate" interface of this recipe:

1) The description (on the RHS) of the option "target grid" is wrong. Please write "Regrid input data to this resolution. In degrees. Can also be the name of one of the input datasets"
2) The most important parameter of RainFARM, `nf` , is missing ! You can describe it as "number of subdivisions for downscaling"
3) Set "slope" to 0 by defaul

[2019-05-20 09:36] jhardenberg commented on #23
- Also option `nens` (the number of stochastic downscaling ensemble members to generate) cannot be selected.
- If I select multiple models, only the first model is included in the recipe.

[2019-05-20 09:40] yifatdzigan commented on #10
I fixed the link to the article

[2019-05-21 07:43] yifatdzigan commented on #9
@jhardenberg Could you please provide me with a link to the text and the figures, so I can prepare an initial page for the diagnostic?
Thanks!

[2019-05-21 07:54] yifatdzigan commented on #8
@earnone You can find the merged page in: https://github.com/c3s-magic/c3s-magic-frontend/tree/master/src/static/diagnosticsdata/hyint .
You can use the instructions in: https://github.com/c3s-magic/c3s-magic-frontend to run a local updated version on your computer, or otherwise see the description file.
I would appreciate your comments on the page!

[2019-05-21 14:09] earnone commented on #8
@yifatdzigan many thanks for this. I think this looks good, I will have some refinements to propose but that depends also on whether the interactive map with pre-compiled data will still be included or not. Is that the case? Are the settings reported in the portal page of the diagnostics those that will be available once the calculation page is open? I could not run the docker but will update the

[2019-05-21 14:32] earnone commented on #10
The calculation with default settings or with different selection is failing. Is the GPCP-SG  dataset correctly linked? Should we wait for testing?

It is still not possible to change model start and end years. Will this change?

[2019-05-21 14:44] earnone commented on #23
The online calculation works fine on a some examples I tried.

A few further comments:

1.  I find the `target grid` option confusing: since the user will want to downscale the original dataset to a new resolution, it may read this `target grid` as the final one. I guess this is instead controlled by `nf` as mentioned by @jhardenberg. I would therefore remove the `target_grid` and leave only the `

[2019-05-21 14:50] earnone commented on #16
This is working well with correct settings. See comment by @jhardenberg still valid.

[2019-05-21 15:18] nperezzanon commented on #28
Hi,
All settings are being displayed but I cannot modify them.
The automatic map is not displaying any data.
There is not a box for this recipe in the tab Metrics&Diagnostics.
Núria

[2019-05-21 15:24] nperezzanon commented on #13
Hi!
The final version of this recipe could be called just 'Tool to compute indices based on area averages'
It works with monthly data.
Do you need I provide a new plot with higher resolution or that should the recipe output increase the resolution?
Cheers, Núria

[2019-05-21 15:35] nperezzanon commented on #28
The variable cannot be selected.

[2019-05-22 12:04] yifatdzigan commented on #8
@earnone with pleasure! The reported settings are the ones used for the specific example/s in the diagnostic' page. You will be able to choose other settings in the calculation page.
We still need to run the diagnostics on Jasmin for the outputs so I am not sure about the interactive map yet, but I think it will be included.

[2019-05-22 12:34] bpmweel commented on #28
@nperezzanon could you let me know which variables this metric is capable of running with? The documentation only mentions psl.

[2019-05-22 14:00] nperezzanon commented on #28
Hi,
This recipe should work with any atmospheric variable with gaussian distribution, I have corrected the documentation and created a merge request to include variable 'tas'.
Thanks for your help

[2019-05-22 14:30] lpcaron commented on #26
Just reviewed this function and the settings do not appear.

[2019-05-22 14:35] lpcaron commented on #25
I had a look at this function and I can only change the model, choose between historical and rcp26 scenario and the members. I cannot change the region nor any of the dates.

[2019-05-23 08:55] bpmweel commented on #28
@nperezzanon Are there any other ones you would like to include beyond psl and tas?

[2019-05-23 08:56] nperezzanon commented on #28
No

[2019-05-23 09:30] lpcaron commented on #11
This function is missing many of the settings, like the model, start year, end year, historical vs rcp.

[2019-05-23 09:33] lpcaron commented on #13
This function is missing many of the settings, like the model, start year, end year, historical vs rcp, and the regions to be selected.

[2019-05-23 09:42] lpcaron commented on #27
There are no settings to choose for this metric.

[2019-05-23 09:47] lpcaron commented on #24
I've tried using this function and I cannot change the following settings:
Start historical
End historical
Start projection
End projection
Quantile:
Minimum duration

[2019-05-23 09:57] lpcaron commented on #24
I ran with GFDL-CM3, r2i1p1
Operator: exceedance
Season summer.

I get an the following error message: Process failed, please check server error log

[2019-05-23 09:58] lpcaron commented on #24
Playing with the different settings returns the same error message.

[2019-05-24 08:12] jhardenberg commented on #16
I tested the calculate page. It is still not possible to change the years.
The recipe computes 4 weather regime patterns, but the “Regime data” panel only shows one of them  (confusingly the last one)

[2019-05-24 08:13] jhardenberg commented on #15
* The recipe computes 4 teleconnection patterns, but the “data” panel only shows one of them  (confusingly the last one)
* Including the “PC Timeseries” in the “data” plot does not make much sense, since this is a timeseries, and it produces a meaningless plot.
These problems probably apply also to the blocking diagnostic.

[2019-05-24 08:29] jhardenberg commented on #5
Suddenly this diagnostic does not have any more settings in the wps!

[2019-05-24 08:30] jhardenberg commented on #12
Please allow at least pr and tas to be selected for this metric (in general the wps should allow to specify the variable of interest)

[2019-05-24 09:04] jhardenberg commented on #12
The selection "number of PCs" should be a numeric field and not a dropdown list so that the user can choose say 4, 6 etc PCs ...

[2019-05-24 09:06] jhardenberg commented on #9
hello @yifatdzigan ,
as we offered to Neils today during the project telco, we could prepare a draft landing page for the diagnostic ourselves today and initiate a PR for the c3s-magic-frontend. Would that be ok for you?

[2019-05-24 09:54] jhardenberg commented on #9
Hi, we just prepared a PR for the landing page for this metric here:
https://github.com/c3s-magic/c3s-magic-frontend/pull/236

[2019-05-24 10:11] earnone commented on #9
The doi in the Sillmann 2013 reference is wrong. This is the correct one: https://doi.org/10.1002/jgrd.50203

[2019-05-24 10:13] bpmweel commented on #4
@mattiarighi I'm working on the wps process for this recipe and I have a few questions:

1. In the recipe there are multiple models, does the recipe require this or can it run with 1 model as well. Does it provide more outputs if there are more models?
2. For the setting plot_type: some in the recipe are cycle_zonal, some are cycle_latlon. Are these 2 groups of plot_type metrics, or could a user w

[2019-05-24 10:21] jhardenberg commented on #5
Issues for the landing page of this metric:
1) In "Settings" , "Variable" says "geopotential height" but it should also specify that it is at 500hPa
2) In "Settings" it says "Ensamble" --> that should be "Ensemble"
3) In the "Metric Results" interactive maps, the selection of "Tibaldi and Molteni 1990" does not work (it dows not work since it is actually a timeseries and here it is plotted as a ma

[2019-05-24 10:27] jhardenberg commented on #6
Issues for the landing page of this metric:
1) Federico Serva is appearing twice in the authors list. Enrico Arnone (ISAC-CNR) is missing instead.
2) In the "Metric Results" interactive plots, the plots
    - Daily zonal mean
   - Monthly zonal mean
   - Zonal mean annual
  do not plot correctly, since they are zonal means and are plotted as lon-lat maps instead.
3) Still in "Metric results" the p

[2019-05-24 10:37] jhardenberg commented on #8
Issues in the landing page of this diagnostic:
- In the "Metric results" interactive plots, when we select a layer, some layer names cannot be read correctly (some of them are so long that they are pushig the others outside of the window that can be seen)
Solution, use only the first part of the layer description. Example:
Instead of "Annual mean dry spell length from hyint_ACCESS1-0_historical_r1

[2019-05-24 10:51] hb326 commented on #4
@bpmweel:
1. The recipe does need at least 2 models to run properly. It calculates a multi-model-mean that cannot be calculated if only one model is available. The output is always only one plot, but the number of circles on the plot depends on the number of models used.
2. The plot type is determined by the format of the variable that is processed: as a rule of thumb, for 2D variables (e.g. tas)

[2019-05-24 10:53] jhardenberg commented on #12
Issues with the landing page of this metric:
- In "Settings" , it says "Area: I" , while it should say "Area: EU"
- Both the figures on the page are outdated and the thumbnail too. Please use that currently in the recipe docs, https://esmvaltool.readthedocs.io/en/version2_development/_images/ensclus.png

[2019-05-24 10:59] jhardenberg commented on #12
Issues in the landing page of this metric:
- In "Settings" It says that the "Variable" is geopotential height, but it should specify that it is at 500hPa (Z500)
- In the "Metric results" interactive plots
  - The buttons say "Select a layer" and "select a style" but in othe rmetrics the style or layer selected appears in the dropdown menu after selecting it.
-  It attempts to plot the "PCs timeser

[2019-05-24 10:59] jhardenberg commented on #16
Issues in the landing page of this metric:

In "Settings" It says that the "Variable" is geopotential height, but it should specify that it is at 500hPa (Z500)

[2019-05-24 11:02] jhardenberg commented on #23
Issues in the landing page of this metric:

- In the "metric results interactive plot"
   - Do not plot the png images (they are overlaid on a world map, which does not make sense)
   - We will prepare and send you two new example nc files to plot

[2019-05-24 11:07] bouweandela commented on #4
this means it cannot be configured. I think only model selection is needed for this recipe, none of the options appear to be changeable.

[2019-05-30 12:19] jhardenberg commented on #21
A comment as a user who does not know much about this diagnostic:
What are the `frlim` and `prlim` parameters?  These need an explanation.

[2019-06-03 09:31] jhardenberg commented on #12
Small typo: When displaying the results, it says "Clustering Statictics" -->that should be "Clustering Statistics" of course

[2019-06-03 09:43] jhardenberg commented on #10
GPCP-SG does not work yet, it seems not to find the data.
Actually it would be good to have more than one option for the "Reference dataset" . Currently only  GPCP-SG is possible. Maybe we could also add other datasets which have daily precip, such as Tier2/NCEP, Tier3/Era-Interim and Tier1/TRMM ?

[2019-06-03 14:03] earnone commented on #8
@JaroCamphuijsen @rvanharen thanks for adding the calculation for hyint. It is currently not working but I have several comments if I can give them on the current version. I cannot understand where it fails.

E.g.:
- it would be good to have a reference model rather than a reference dataset since it works on projections. Maybe give ACCESS1-0 as a default.
- the years cannot be selected. If they we

[2019-06-03 14:12] earnone commented on #8
@yifatdzigan could you please update the "Description" on the portal page as follows:
The HyInt metrics calculates the HY-INT hydroclimatic intensity and additional hydroclimatic indices, which allow to evaluate the overall behaviour of the hydroclimatic cycle. It produces maps, timeseries, trends and significant testing for the selected hydroclimatic indices, and can also include data from the ET

[2019-06-03 15:02] rvanharen commented on #8
- I'll push a fix for the reference model instead of a reference dataset
- Non-selectable years is a known bug in the frontend that was introduced late last week, we'll make sure it will be fixed.
- I'll recheck the regions and add missing ones. The pywps LiteralInput we use doesn't have support for using a different name for the text. It may be possible by defining ComplexInputs but I don't think

[2019-06-03 15:07] jhardenberg commented on #13
Just tested, esmvaltool fails

[2019-06-03 15:07] jhardenberg commented on #27
Just tested, seems to fail

[2019-06-03 15:08] jhardenberg commented on #26
Just tested, diagnostic fails

[2019-06-03 15:12] jhardenberg commented on #2
Diagnostic runs in the WPS but produces no plots, see https://github.com/ESMValGroup/ESMValTool/pull/1076

[2019-06-03 15:20] earnone commented on #8
I see, ok. For future development beside the demo, the wps itself will in any case be able to handle multiple indices and regions at the same time, right?

[2019-06-03 15:25] rvanharen commented on #8
@earnone yes that should work. The only thing that needs adding is some keyword telling which options are multi-selectable and which are not.

[2019-06-03 15:35] earnone commented on #8
@rvanharen good, these are reported as example/default settings in the recipe (not exhaustive of all possibilities):
*         select_indices: ["pa_norm", "hyint", "int_norm", "r95_norm", "wsl_norm", "dsl_norm"]
*         select_regions: ["GL", "SA", "AF", "EU", "EA"]
*         plot_type: [1, 2, 3, 12, 13, 14, 15]

[2019-06-03 16:49] rvanharen commented on #8
@earnone we hardcoded the plot_type to always plot all in order to keep it simple for the user. Is this okay for now? (else we again would get into the dropdown menu thing without multi-selection)

[2019-06-03 16:55] rvanharen commented on #27
@jhardenberg Thanks for testing. I'll add it to the todo list for tomorrow.

[2019-06-03 17:00] rvanharen commented on #25
@Ipcaron Thanks, we have implemented the dates selection and lon/lat selection.

[2019-06-03 17:38] rvanharen commented on #16
@jhardenberg @earnone the 'plus' sign to add more models will not show up anymore apart for the metrics that we know we can throw multiple models at.

[2019-06-03 17:45] rvanharen commented on #13
@Ipcaron Missing options should be implemented now.

[2019-06-03 18:50] rvanharen commented on #11
@Ipcaron Missing settings should be integrated now.

[2019-06-03 18:55] rvanharen commented on #10
@jhardenberg I think we decided late last week that we will limit to one reference dataset per metric for the demo due to time constraints. Would GPCP-SG be the best one to use in that case?

[2019-06-03 19:02] earnone commented on #10
@rvanharen yes, if only one dataset is included GPCP-SG will be fine.

[2019-06-04 07:27] nielsdrost commented on #1
The default settings of this metric do not work as it adds the same model twice. Not sure this is too be helped though.

[2019-06-04 09:33] jhardenberg commented on #16
Thanks for fixing the other issues. I just tried on portal.c3s-magic.eu and one problem mentioned above still remains: In the interactive "Regime data" there is only one layer, corresponding to the 4th regime. There should be 4 layers here, corresponding to the 4 regimes computed by the diagnostics.
A typical output file such as RegimesPattern_ACCESS1-0_historical_r1i1p1_1984-1989_DJF.nc  has a va

[2019-06-04 09:33] rvanharen commented on #15
Just tested on https://portal.c3s-magic.eu/#/calculate/copernicus-wps/teleconnections
- Showing of all 4 teleconnection patterns seems to be fixed
- We currently cannot fix what variables from the netCDF file are shown in the frontend.

[2019-06-04 10:07] jhardenberg commented on #10
Precipitation quantile bias is missing a "calculate" logo in the Metrics & Diagnostics page https://portal.c3s-magic.eu/#/diagnostics and a "calculate" button in the corresponding landing page (checked on portal.c3s-magic.eu)

[2019-06-04 10:08] jhardenberg commented on #23
RainFARM is missing a "calculate" logo in the Metrics & Diagnostics page https://portal.c3s-magic.eu/#/diagnostics and a "calculate" button in the corresponding landing page (checked on portal.c3s-magic.eu)

[2019-06-04 10:08] jhardenberg commented on #8
HyINT is missing a "calculate" logo in the Metrics & Diagnostics page https://portal.c3s-magic.eu/#/diagnostics and a "calculate" button in the corresponding landing page (checked on portal.c3s-magic.eu)

[2019-06-04 10:09] yifatdzigan commented on #26
The file doesn't work on ADAGUC so it is disabled.

[2019-06-04 11:07] bpmweel commented on #5
@jhardenberg We have fixed all the issues that we are able to fix at this time.

A known issue is that you cannot select different reference models this can only be fixed when we deploy the wps on lot1, where more data is available.

[2019-06-04 11:07] earnone commented on #9
@rvanharen the "settings" on the [portal page](https://portal.c3s-magic.eu/#/diagnostics/extreme_events) crop the lists. That should be wrapped in new lines as for other metrics.

[2019-06-04 11:30] earnone commented on #8
@rvanharen the "calculate" works, great. There are a few issues that lead to errors/crashes:

- the default normalization period should be within the start to end year period. You can keep as default what it was before (1980-2020 start to end, 1980-1999 normalization period) or have it short for testing (say 2005-2008 start to end, 2005-2006 for normalization).

- if a user selects "historical" an

[2019-06-04 11:39] bpmweel commented on #2
Showing of results is fixed and tested on portal.c3s-magic.eu. After the linked ESMValtool pull request is merged we need to update the WPS process as well.

[2019-06-04 12:50] yifatdzigan commented on #22
The file doesn't work on ADAGUC so I disabled it for this metric.

[2019-06-04 12:56] jhardenberg commented on #26
Using default settings the metric fails  looking for files matching ['sfcWind_day_MPI-ESM-MR_rcp85_r1i1p1_*.nc'] in ['/cmip5/MPI-M/MPI-ESM-MR/rcp85/day/atmos/day/r1i1p1/sfcWind/latest']
Maybe those data are not available?

[2019-06-04 14:10] jhardenberg commented on #9
The settings open with two default models.
- It would be better to have a selection of at least three models.
- Currently the same model is offered twice, would it be possible to start with two (three) different models?
- It is not possible to select the indices to be computed, which indices will be computed?

- Description text is wrong, this should be "Producing Glecker and timeline plots of thi

[2019-06-04 14:13] jhardenberg commented on #26
Small inconistency:
The option "season": it is small caps (like "djf") while other diagnostics use "DJF" (all caps)

[2019-06-04 14:15] jhardenberg commented on #12
- Subensemble selection does not make much sense with only two models, please offer at least 3 or 4 models as default at the beginning.

[2019-06-04 14:17] jhardenberg commented on #24
The description text "either `>` for exceedances or `<` for non-exceedances" is not really consistent with the dropdown options. Maybe use "Select exceedances or non-exceedances" (the authors of this metric may offer better advice)

[2019-06-04 14:20] jhardenberg commented on #8
The note says "Note: Selected models should be experiment (eg. "rcp85") and not historical. The historical data will be added automatically. "
@earnone  does this mean that only rcp85 (or rcp45) should be selected?
Why? The ESMValTool docs do not describe this limitation.
If true, then "historical" should be removed from the model experiment dropdown list.

[2019-06-04 14:42] earnone commented on #8
@jhardenberg @rvanharen no, the recipe correctly calls the preproc with concatenation so it can handle only historical or historical+rcp. I guess this means that you should select rcp85 if you want both historical+rcp85. Currently it does not work so I cannot test the historical alone.

[2019-06-04 14:44] jhardenberg commented on #3
- The description for the WPS says " for selected ???Essential Climate Variables??? (ECVs) "
those ??? should be " ....
- The setting part has no inputs - that cannot be right, or is it?

[2019-06-04 14:45] bpmweel commented on #8
@jhardenberg @earnone We added this restriction and indeed you should only select the rcp experiment. We add the historical in the recipe ourselves, so when selecting rcp85 the recipe will use [historical, rcp85].

Removing historical from the dropdown list is technically difficult and we will not fix this for the demo.

[2019-06-04 14:46] jhardenberg commented on #23
In the settings please change
"n Ensemble" --> "Ensemble"
"n Subdivisions" --> "Subdivisions"

[2019-06-04 14:48] jhardenberg opened #29 "Shapefile selection"
The description for the "weighting method" setting says "preferred weighting method ???mean_inside??? - mean of all grid points inside polygon; ???representative??? - one point inside or close to the polygon is used to represent the complete area."
Something is wrong with this text.

[2019-06-04 15:03] earnone commented on #8
@bpmweel  ok. Please update the default start-end years and normalization years as commented above: (1980-2020 start to end, 1980-1999 normalization period).

@jhardenberg do we need a very quick process for the demo? I think we should keep 1980-2020 and one can simply modify the dates during the demo if needed.

[2019-06-04 15:20] jhardenberg commented on #5
After getting feedback from a coauthor, we updated the description of the diagnostic in the landing page (diagnostics & metrics). I prepared directly aPR, which you just need to accept:
https://github.com/c3s-magic/c3s-magic-frontend/pull/253

[2019-06-04 15:21] jhardenberg commented on #15
After getting feedback from a coauthor, we updated the description of the diagnostic in the landing page (diagnostics & metrics). I prepared directly a PR, which you just need to accept:
https://github.com/c3s-magic/c3s-magic-frontend/pull/253

[2019-06-04 15:21] jhardenberg commented on #16
After getting feedback from a coauthor, we updated the description of the diagnostic in the landing page (diagnostics & metrics). I prepared directly a PR, which you just need to accept:
https://github.com/c3s-magic/c3s-magic-frontend/pull/253

[2019-06-04 16:19] jhardenberg commented on #12
Running calculate for the diagnostic gives
[code]
and nothing is added to the job list. This does not seem normal.

[2019-06-04 17:17] lpcaron commented on #26
I tried running with MPI-ESM-MR, GFDL-ESM2G, CMCC-CESM and IPSL-CM5A-Mr for years 2025-2030 (rcp85) and they all failed. This is supposed to be one of my use cases for the demo.

[2019-06-04 17:19] jhardenberg commented on #26
The description says "as described in Lled?? (2017)" some special character is wrong.

[2019-06-04 17:22] lpcaron commented on #26
It should be Lledó. And the reference can be updated to
Lledó, Ll., V. Torralba, A. Soret, J. Ramon, F.J. Doblas-Reyes (2019). Seasonal forecasts of wind power generation, Renewable Energy, 143, 91-100, doi:10.1016/j.renene.2019.04.135

[2019-06-04 17:25] lpcaron commented on #13
This function should be renamed "indices based on area averages" as we are not doing multi-model averages.

[2019-06-04 17:26] lpcaron commented on #13
The link for the documentation is wrong. It's that of another recipe.

[2019-06-04 17:28] lpcaron commented on #13
In the region option, Nino is missing the ~.

[2019-06-04 17:30] lpcaron commented on #13
Also, the function doesn't work with any models for any of the region that I've tried. This is one of the function I will use as a use cases.

[2019-06-04 17:35] lpcaron commented on #11
The media link doesn't work:  http://localhost:5000/static/diagnosticsdata/multimodel_products/bsc_anomaly_timeseries.png

[2019-06-04 17:35] lpcaron commented on #11
I don't know what the link for Model Selection is supposed to be.

[2019-06-04 17:40] lpcaron commented on #11
You have "integer" and "Integer" as explanation on the right.

[2019-06-04 17:41] lpcaron commented on #11
The plots are cut off when they are displayed.

[2019-06-04 17:44] lpcaron commented on #11
The functions only seems to work with 2 models. Attempts to run with 3 or 4 models have failed.

[2019-06-04 17:46] lpcaron commented on #24
The link for Media doesn't work.

[2019-06-04 17:48] lpcaron commented on #24
The user probably shouldn't be allowed to have negative quantiles.

[2019-06-04 17:56] lpcaron commented on #24
The description on the right should all start with a capital letter.

[2019-06-04 18:03] lpcaron commented on #24
Also, the recipe doesn't seem to work for the summer season.

[2019-06-04 18:10] lpcaron commented on #27
In the description, "integer" should be "Integer"

[2019-06-04 18:10] lpcaron commented on #27
The plots are cut off.

[2019-06-04 18:21] lpcaron commented on #28
The recipe doesn't run currently.

[2019-06-04 18:21] lpcaron commented on #28
Also, this recipe is aimed to be applied to observations, not model output.

[2019-06-04 18:50] nielsdrost commented on #12
Question in https://github.com/c3s-magic/c3s-magic-frontend/pull/257 by @jhardenberg : Would it be possible to change also the "metric results" with the same image?

[2019-06-04 19:00] nielsdrost commented on #12
Agreed. Will look into this (probably not until tomorrow though)

[2019-06-04 19:02] nielsdrost commented on #12
This is the precalculated output we would normally use:
https://portal.c3s-magic.eu/data/recipes/recipe_ensclus_20190602_200903/plots/EnsClus/main/anomalies_pr_32ens_JJA_EU_CMIP5_historical.fig1.png

I would prefer to use that as it matches the downloadable one (eventually, this metric page still needs to be updated I think).

[2019-06-04 19:03] jhardenberg commented on #23
Currently not running, the message is
[code]

[2019-06-05 08:42] yifatdzigan commented on #5
Unfortunately we can not remove only one of the layers, so we will have to keep it as it is.

[2019-06-05 08:49] rvanharen commented on #23
@jhardenberg Thanks, we're looking into it.

[2019-06-05 09:15] yifatdzigan commented on #26
Fixed the reference. Will be shown once the portal is finished (later today?).

[2019-06-05 09:56] nielsdrost commented on #28
The WPS follows the recipe, which uses model data: https://github.com/ESMValGroup/ESMValTool/blob/version2_development/esmvaltool/recipes/recipe_toymodel.yml

Perhaps @nperezzanon can comment?

For now, we are leaving it as is.

[2019-06-05 09:57] yifatdzigan commented on #24
File doesn't work in  ADAGUC so removed the interactive plot.

[2019-06-05 11:04] yifatdzigan commented on #10
We removed  the calculate logo from the landing page for all the metrics

[2019-06-05 11:08] earnone commented on #10
@yifatdzigan ok, check [https://github.com/c3s-magic/c3s-magic-frontend/issues/238](https://github.com/c3s-magic/c3s-magic-frontend/issues/238) as one metric in the list still has it.

[2019-06-05 11:14] yifatdzigan commented on #10
The updated version will be uploaded in a few hours

[2019-06-05 11:14] yifatdzigan commented on #10
The updated version will be uploaded in a few hours

[2019-06-05 11:26] yifatdzigan commented on #9
fixed

[2019-06-05 11:26] yifatdzigan commented on #9
Fixed.

[2019-06-05 11:47] yifatdzigan commented on #9
The settings in the static diagnostic page needs to be updated according to the recipe

[2019-06-05 11:59] earnone commented on #9
@yifatdzigan do you mean according to the default settings in the recipe?

[2019-06-05 12:12] yifatdzigan commented on #13
File doesn't work on ADAGUC so interactive plot is disabled

[2019-06-05 12:18] rvanharen commented on #9
@jhardenberg

- Clicking the plus sign the user can add another model
- It is a known issue that the second (and further) model is the same as the first one, it is not something we can fix before the demo
- All indices are computed
- Description is fixed

[2019-06-05 12:20] rvanharen commented on #9
@earnone @yifatdzigan is going through all the portal pages to make sure they look correct, it needs some spaces added to be displayed correctly

[2019-06-05 12:20] yifatdzigan commented on #11
Static page updated with plots

[2019-06-05 12:23] rvanharen commented on #11
@Ipcaron Just tested with 3 models, works for me

[2019-06-05 12:34] rvanharen commented on #11
It should not be pointing anywhere, but this is currently the only way we can get the information in the frontend

[2019-06-05 12:35] yifatdzigan commented on #15
Was merged. Static page updated.

[2019-06-05 12:41] rvanharen commented on #26
@Ipcaron Just tested with MPI-ESM-MR for 2025-2030 rcp85 and using defaults for the rest, works for me now.

[2019-06-05 12:57] yifatdzigan commented on #7
file doesn't work in ADAGUC

[2019-06-05 13:15] yifatdzigan commented on #27
file doesn't work in ADAGUC so it is disabled

[2019-06-05 13:38] yifatdzigan commented on #12
Landing page provenance doesn't work

[2019-06-05 13:43] yifatdzigan commented on #28
File doesn't work on ADAGUC

[2019-06-05 13:44] rvanharen commented on #26
made a PR for this

[2019-06-05 13:57] yifatdzigan commented on #17
Still needs refinement of the outputs in the static diagnostic page

[2019-06-05 14:03] earnone commented on #17
`Still needs refinement of the outputs in the static diagnostic page`

@yifatdzigan do you mean of the pre-calculated data shown with the viewer? Yes, all the names of the files/layers are too long, it would be enough to cut them short (maybe removing the long name of the model file).

Or other parts (output=figures?)? If so can I see the current version somewhere?

[2019-06-05 14:04] earnone commented on #17
I was not able to run the docker at this stage... sorry.

[2019-06-05 16:17] lpcaron commented on #26
Could we have the default coordinates to:
Start longitude: 240
End longitude: 285
Start latitude: 27
End latitude: 50

It's what I'll use for my use cases.

[2019-06-05 16:25] lpcaron commented on #26
Would it be possible to add the following table in the documentation of the function? I'm sure ECMWF will ask for it.

https://esmvaltool.readthedocs.io/en/version2_development/recipes/recipe_capacity_factor.html
Main features of the selected turbines
.
IEC Class  Turbine name  Rotor  diameter (m) Rated power (MW) Cut-in-speed (m/s) Rated speed (m/s) Cut-out speed (m/s)
Class I Enercon E70_2.3MW

[2019-06-05 16:27] lpcaron commented on #26
The reference in the documentation (https://esmvaltool.readthedocs.io/en/version2_development/recipes/recipe_capacity_factor.html)
can be updated to
Lledó, Ll., V. Torralba, A. Soret, J. Ramon, F.J. Doblas-Reyes (2019). Seasonal forecasts of wind power generation, Renewable Energy, 143, 91-100, doi:10.1016/j.renene.2019.04.135

[2019-06-05 16:37] lpcaron commented on #25
Would it be possible to have the default values as
Start historical: 1990
End historical: 2000
Start projection: 2070
End projection: 2080

It will make the use cases run faster.

[2019-06-05 16:37] lpcaron commented on #25
Also, "minimum" and "maximum" should be written with capital letters.

[2019-06-05 16:40] lpcaron commented on #13
We should remove the "multi-model" in the title as this function only does 1 model at the time.

[2019-06-05 16:42] lpcaron commented on #13
The link in the documentation is still wrong.

[2019-06-05 16:46] lpcaron commented on #13
This is one of the function I'm going to use for my use cases and it doesn't work.

I can't compute any of the Nino indices, including the SOI.

[2019-06-05 17:07] lpcaron commented on #27
This function is missing the min/max latitudes and longitudes.

[2019-06-05 17:08] lpcaron commented on #27
So we can't select the region over which to run the diagnostic. Right now, it's mostly over the ocean, which for this index doesn't make much sense.

[2019-06-05 17:17] lpcaron commented on #11
I just tried with MPI-ESM-MR, CMCC-CESM and GFDL-ESM2G and it's not working.

[2019-06-05 17:20] lpcaron commented on #11
"Last month of the seasonal mean period to be computed, if none the monthly anomalies will be computed"

The null option is not available.

[2019-06-05 17:24] lpcaron commented on #11
Also, we are missing the min/max for latitudes and longitudes.

[2019-06-05 17:28] jhardenberg commented on #26
Hi @lpcaron , to update the ESMValTool documentation you could edit directly the corresponding source file `https://github.com/ESMValGroup/ESMValTool/blob/version2_development/doc/sphinx/source/recipes/recipe_capacity_factor.rst`
and from there initiate a pull request to get it included in ESMValTool. It will not be done in time for the demo tomorrow but it should be a quite straightforward proces

[2019-06-05 17:40] lpcaron commented on #7
The function in missing min/max of latitudes and longitudes.

[2019-06-05 17:41] lpcaron commented on #7
Also, the plots are the same for the model and the observations.

[2019-06-05 17:47] rvanharen commented on #11
CMCC-CESM seems to be broken. I don't have time to check if it is the actual metric script that does not work with the model or that the model data somehow got corrupted. For now I suggest not using this model in this metric.

I tested with MPI-ESM-MR, ACCESS1-0, IPSL-CM5A-MR and IPSL-CM5B-LR and these work fine.

[2019-06-05 17:49] rvanharen commented on #11
Also a more general note (also related to your comments in the other issues), I'm not sure how much if any we can still change before we make the release and deploy it for the demo tomorrow. Some things might have to wait for a bugfix release.

[2019-06-05 18:00] lpcaron commented on #11
Indeed. It seems to work.

[2019-06-05 18:17] lpcaron commented on #24
The recipe mentions tasmin when computing heatwaves. Not sure whether the problem is just a typo or a problem with the recipe. Will discuss with @nperezzanon  tomorrow.

[2019-06-05 18:18] lpcaron commented on #24
Also, the min/max for latitudes and longitudes are missing.

[2019-06-05 19:32] nielsdrost commented on #26
If you do a pull request of only that one rst file I would not be surprised if it can be merged in an hour or so.

[2019-06-05 19:36] nielsdrost commented on #26
Done, see https://github.com/c3s-magic/c3s-magic-wps/pull/72

[2019-06-05 20:21] nielsdrost commented on #29
It seems not to like some quote characters, removed these.

[2019-06-05 20:29] jhardenberg opened #30 "Common issues for Blocking, Teleconnections, Weather Regimes"
Since `start year` and `end year ` are used both for the dataset and for the reference, it is actually not possible to apply the diagnostic to future scenarios. E.g. if I choose 2020-2050 it will try to apply these dates both to the model and to ERA-Interim. We should have two separate starting and ending dates for models and reference (should be fixed, but no need to do it for the demo)

[2019-06-05 21:09] nielsdrost commented on #25
done

[2019-06-05 21:23] #29 closed

[2019-06-05 21:51] nielsdrost commented on #27
Region is set in ESMValTool recipe.

Added settings, see https://github.com/c3s-magic/c3s-magic-wps/pull/76

[2019-06-06 09:11] lpcaron commented on #11
Min/max for latitudes and longitudes are missing.

[2019-06-06 10:11] lpcaron commented on #24
The user should be able to select tasmax or tasmin. Currently, only tasmin is used.

[2019-06-06 15:51] lpcaron commented on #27
I noticed during the demo session that this metric doesn't have the same name here:
https://portal.c3s-magic.eu/#/tailoredproduct_actuaries (this is the old name)
as it does here:
https://portal.c3s-magic.eu/#/diagnostics/extreme_index

Also, it used to display per country, as the first link above shows.

I gather this feature was abandoned?

[2019-06-07 08:37] jhardenberg commented on #9
Some important settings are missing:
1) The choice of the indices to compute (`timeseries_idx` and `gleckler_idx`). These control which indices are computed separately for timeseries and gleckler plot, but they could be both set to the same for simplicity
2) `base_range` the starting and end years compared to which the indices are computed (e.g. the period in which to compute reference percentiles

[2019-06-07 08:40] jhardenberg commented on #8
While multiple choice is not possible for the "Regions", there should be an additional option "All" which leads it to behave as if a list with all available regions has been selected.
Can this be implemented in the WPS, or should we do it in ESMValTool ?

[2019-06-07 08:42] jhardenberg commented on #8
BTW: This would be an idea also for the models: since HYINT is capable of producing plots for multiple models, there should be an option to select all available models in a class (e.g. all historical r1i1p1 models)

[2019-06-07 08:46] jhardenberg commented on #23
The "weights_climo" option has been deactivated for the demo, but it should be included in the end.
Currently it works by either leaving it set to "FALSE" (default) or using it (yes, sorry, the variable changes type - not nice) to specify a filename of a reference climatology. I could provide at least two such reference climatologies to be used, but the problem is that we would then need to store

[2019-06-07 08:48] jhardenberg commented on #23
There should be an option NOT to regrid the input dataset (removing regridding from the preprocessor in the recipe)

[2019-06-07 08:55] jhardenberg commented on #30
The MiLES Blocking and Teleconnections recipes both allow the user to specify also custom months over which to perform the analysis specifying `seasons` as e.g.  "Jan_Feb_Mar"  instead of "DJF" etc.
During the demo we got feedback that selecting for example individual months would be a desiderable feature. Since the functionality is already in place in the ESMValtool diagnostic, can we expose it s

[2019-06-07 10:46] bouweandela commented on #23
They should be stored in the directory defined under `auxiliary_data_dir` in the config-user.yml file and the recipe should use a relative path to that directory.

[2019-06-09 10:32] jhardenberg commented on #8
I am still not sure that I understand: I may wish to use this diagnostic for the historical period (it is certainly possible in ESMValTool)...the WPS will not allow that ?  Or should I select RCP85 and then a range of years in the historical period? Does not seem very user friendly.

[2019-06-11 15:59] nperezzanon commented on #27
Hi @nilsdrost,

Now I can see the settings for selecting the area and the reference and future periods, however I cannot modify them.

I am also missing some settings that are included in the scripts field of the recipe:
        - weight_t90p: 0.2      weight for maximum extreme temperature indicator
        - weight_t10p: 0.2      weight for minimum extreme temperature indicator
        - weight_

[2019-06-11 16:09] nperezzanon commented on #11
Hi,

Yes, the area selection is missing.

On the other hand, the 'historical' experiment could be selected and it makes me confuse.
The recipe needs the historical simulation as reference period, however, should the user select each model twice? one for the scenario and a second one for the historical period? Or it's automatically created by the wps, and the user just need to select the scenario.

[2019-06-11 16:37] nperezzanon commented on #13
Hi,
I have run the recipe in the portal an it just works for NAO, but not for the rest of available regions.
However, I am running it on Jasmin at it works for me.

The variable cannot be selected.
I would be fine if the recipe uses 'psl' when NAO region is selected and 'tos' for the rest of regions.
However, in the second case, 'tos' you will need to add a preprocessor to regrid to 1x1.

Thanks,

[2019-06-11 16:40] lpcaron commented on #13
SOI should work with psl as well.

[2019-07-22 20:28] nielsdrost commented on #30
Moved, see:

- https://github.com/c3s-magic/c3s-magic-wps/issues/94
- https://github.com/c3s-magic/c3s-magic-wps/issues/95

[2019-07-22 20:28] #30 closed

[2019-07-22 21:49] nielsdrost commented on #5
Moved all outstanding issues to the wps(https://github.com/c3s-magic/c3s-magic-wps) and frontend(https://github.com/c3s-magic/c3s-magic-wps) repo issues. Please report additional issues there.

[2019-07-22 21:49] #5 closed

[2020-03-13 13:38] #2 closed

[2020-03-13 13:38] #3 closed

[2020-03-13 13:38] #4 closed

[2020-03-13 13:38] #6 closed

[2020-03-13 13:38] #7 closed

[2020-03-13 13:38] #8 closed

[2020-03-13 13:38] #9 closed

[2020-03-13 13:38] #10 closed

[2020-03-13 13:38] #11 closed

[2020-03-13 13:38] #12 closed

[2020-03-13 13:38] #13 closed

[2020-03-13 13:38] #15 closed

[2020-03-13 13:38] #16 closed

[2020-03-13 13:38] #17 closed

[2020-03-13 13:38] #18 closed

[2020-03-13 13:38] #19 closed

[2020-03-13 13:38] #20 closed

[2020-03-13 13:38] #21 closed

[2020-03-13 13:38] #22 closed

[2020-03-13 13:38] #23 closed

[2020-03-13 13:38] #24 closed

[2020-03-13 13:38] #25 closed

[2020-03-13 13:38] #26 closed

[2020-03-13 13:38] #27 closed

[2020-03-13 13:38] #28 closed

[2020-03-13 13:38] #1 closed